{% block content %}
    {{ dump(entry) }}

    <a href="index">Test without click attribute</a>
    <a>Test wihout anything</a>
    <a href="meetings" data-page="meetings">meetings</a>
    <a href="meetings/simsontreffen-flurstedt" data-page="meetings/simsontreffen-flurstedt">treffen flursted</a>
    <a href="test/abc/123/yes" data-page="test/abc/123/yes">many params</a>
    <a data-page="test" data-foo="bar">many data-attributes</a>
{% endblock %}